<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="mt-4">
    <div class="position-relative">
      <div class="position-absolute top-50 start-0 end-0">
        <hr class="text-muted">
      </div>
      <div class="position-relative text-center">
        <span class="bg-white px-2 text-muted">Or continue with</span>
      </div>
    </div>

    <div class="mt-4 d-grid gap-2 d-md-flex justify-content-center">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= form_tag(omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }) do %>
          <button type="submit" class="btn btn-outline-secondary mx-2">
            <% case provider.to_s %>
            <% when 'google_oauth2' %>
              <i class="fa-brands fa-google"></i>
            <% when 'twitter2' %>
              <i class="fa-brands fa-x-twitter"></i>
            <% when 'facebook' %>
              <i class="fa-brands fa-facebook-f"></i>
            <% when 'linkedin' %>
              <i class="fa-brands fa-linkedin-in"></i>
            <% end %>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
