<div class="container p-2">
  <div class="row">
    <div class="col-md-12">
        <%= link_to "New Agent", new_ai_agent_path, class: "btn btn-primary" %>
    </div>
    <% @agents.each do |agent| %>
        <div class="col-md-4 mb-4" id="agent_<%= agent.id %>">
            <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="<%= agent.name %>">
            <div class="card-body">
                <h5 class="card-title"><%= agent.name.humanize %></h5>
                <p class="card-text">Description of the agent goes here.</p>
                <%= link_to "Go to", ai_agent_path(agent), class: "btn btn-primary" %>
                <%= link_to "Delete", ai_agent_path(agent), :confirm => "Are you sure?", data: { "turbo-method": :delete }, class: "btn btn-danger" %>
            </div>
            </div>
        </div>
    <% end %>
  </div>
</div>
