<div class="container py-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-4">
        <div class="card-header">
          Dashboard
        </div>
        <div class="list-group list-group-flush">
          <%= link_to "Overview", dashboard_section_path(section: "overview"), 
              class: "list-group-item list-group-item-action #{'active' if @section == 'overview'}", 
              data: { turbo_stream: "dashboard_content" } %>
          <%= link_to "AI Agents", dashboard_section_path(section: "ai_agents"), 
              class: "list-group-item list-group-item-action #{'active' if @section == 'ai_agents'}", 
              data: { turbo_stream: "dashboard_content" } %>
          <%= link_to "Subscriptions", dashboard_section_path(section: "subscriptions"), 
              class: "list-group-item list-group-item-action #{'active' if @section == 'subscriptions'}", 
              data: { turbo_stream: "dashboard_content" } %>
          <%= link_to "Billing", dashboard_section_path(section: "billing"), 
              class: "list-group-item list-group-item-action #{'active' if @section == 'billing'}", 
              data: { turbo_stream: "dashboard_content" } %>
          <%= link_to "Payment History", dashboard_section_path(section: "payment_history"), 
              class: "list-group-item list-group-item-action #{'active' if @section == 'payment_history'}", 
              data: { turbo_stream: "dashboard_content" } %>
        </div>
      </div>
    </div>
    
    <div class="col-lg-9">
      <div id="dashboard_content">
        <%= render "pages/dashboard_sections/#{@section}" %>
      </div>
    </div>
  </div>
</div> 