<div id="<%= dom_id message %>">
  <p>
    <strong>Role:</strong>
    <%= message.role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>Tool calls:</strong>
    <%= message.tool_calls %>
  </p>

  <p>
    <strong>Tool call:</strong>
    <%= message.tool_call_id %>
  </p>

  <p>
    <strong>Conversation:</strong>
    <%= message.conversation_id %>
  </p>

</div>
